// Header styling
$dropdown-color: #f6f6f6;

#header {
	@extend .default-animation;
	@extend .padding-horiz;
	//position: fixed;
	z-index: 10;
	width: 20%;
	height: 100%;
	min-height: 100vh;
	max-width: 240px;
	//min-height: $header-height;
	background-color: rgb(255,255,255);
	padding:0;
	//align-self: stretch;
	//box-shadow: 0 0.05rem 1rem rgba(0,0,0, 0.15);

	// set heights for vertical centering
	> .grid, #logo, #navbar {
	//	height: 100%;
	}

	#logo {
		//float: left;
		height: 100px;
		transform: translateY(0px);
		@include transition(all 0.2s ease);
		opacity:1;

		h3 {
			@extend .default-animation;
			@extend %vertical-align;
			font-size: 2rem;
			line-height: 2rem;
			margin: 0;
			margin: 15px 0;
			text-transform: uppercase;
			a {
				color: $core-text;
				font-size: 0;
			}

			img{
				margin-left: 50%;
    			transform: translateX(-50%);
    			
  
    			
			}
		}
	}

	#navbar {
		//font-size: $core-font-size ;
		font-size: $nav-font-size ;

		/* Child Indicator */
		.has-children {

			& > a {
				& > span {
					display: inline-block;
					padding-right: 8px;

					&:after {
						font-family: FontAwesome;
						content: '\f107';
						position: absolute;
						display: inline-block;
						right: 8px;
						top: 4px;
					}
				}
				&:after, &:before {
					display: none;
				}
			}

			& .has-children > a > span:after {
				content: '\f105';
			}
		}

		.navigation > .has-children:hover > a {
			background: $dropdown-color;
			border: 1px solid darken($dropdown-color, 4%);
			border-bottom-color: $dropdown-color;
			margin: -1px -1px 0 -1px;
			z-index: 1000;
			position: relative;
			padding-bottom: 1px;
		}

		ul {

			margin: 0;
			padding: 0;
			list-style: none;

			&.navigation {
			//	display: inline-block;
				
				//    margin-left: 50%;
    			//	transform: translateX(-50%);
    			display: table;
   				 margin: 0 auto;

				@extend .default-animation;

				margin-top: 1.4rem;

				li {
					//float: left;
					//position: relative;

					a {
						font-family: $font-family-header;
						display: inline-block;
						padding: 0.3rem 2rem;

						color: $navbar-text;

						transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);

						-webkit-backface-visibility: hidden;



					}

					a:hover{
						color: $light-pink;
					}


					a:before{
					    content: '';
					    position: absolute;
					    width: 0%;
					    height: 8px;
					    /* top: 0; */
					    z-index: -1;
					    margin-left: -10px;
					    margin-top: 18px;
					    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
				
					  	background: $light-pink;
					 // @include transform(scaleX(0));
					}

					&.active {
						a:before {
							//top: 0;
							visibility: visible;
							//@include transform(scaleX(0.75));
	
    						width: 70%;

						}
					}

					&.active:hover {
						a:before {
							//top: 0;
							visibility: visible;
							//@include transform(scaleX(0.75));
	
    						width: 0%;

						}
					}

					/*Active dropdown nav item */
					ul {
						position: absolute;
						background-color: $dropdown-color;
						border: 1px solid darken($dropdown-color, 4%);
						border-top: 0;
						min-width: 12rem;
						text-align: left;
						z-index: 999;
						left: -1px;
						display: none;
					}

					ul li {
						display: block;
						float: none;

						/* Active Dropdown nav item */
						&.active > a {
							background-color: darken($dropdown-color, 4%);
							color: $core-accent;
						}

						&:hover > a {
							background-color: $core-accent;
							color: $white;
						}

						a {
							display: block;
							margin: 0 -1px;

							&:after, &:before {
								display: none;
							}
						}
					}

					/* Dropdown CSS */
					ul ul {
						left: 100%;
						top: 0px;
					}

					/* Active on Hover */
					&:hover > ul {
						display: block;
					}

				}
				
			}	
		}

		

	}

}

// Header Image
.header-image {
    &.fullwidth {
        #body {
            padding-left: 0;
            padding-right: 0;

            >.listing-row {
                padding-left: $padding-horiz;
                padding-right: $padding-horiz;
            }
        }
    }
    .listing-row:last-child {
    	margin-bottom: 2rem;
    }

    #body {
        .flush-top {
            margin-top: - $header-height - $padding-vert - 1.5rem;
            padding-top: $header-height + 4rem;
        }
    }

    #breadcrumbs {
    	margin-top: 1rem;
    }

    #header {
        background-color: rgba($header-text,0);
        box-shadow: none;
        height: inherit;

		.navigation .has-children:hover a {
			color: $core-accent;
		}

        #logo h3, #logo a {
            color: $header-text;
        }
        a, .menu-btn {
            color: $header-text;
        }
        a:before, a:after {
        	background-color: rgba($header-text,0.7) !important;
        }

    }
}


.mainimage{
	
	//height: 78vh;
	height: 100%;
	background: url(../images/wallpaper2.jpg) repeat-x -35px top;
    background-size: 10px 90%;


	-webkit-transform: translate3d(0,200px,0);
	transform: translate3d(0,100px,0);
	-webkit-animation: fadeIn 3s ease-out forwards;
	animation: fadeIn 3s ease-out forwards;


	.photo{
		display: block;
	background: none;
	}

	img{
		margin-left: 50%;
		transform: translateX(-50%);
	}
}



@-webkit-keyframes fadeIn {
	0%, 40% { opacity: 0; }
	85%, 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes fadeIn {
	0%, 40% { opacity: 0; }
	85%, 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}


#header .fa{
	display: none;
}



@media screen and (max-width:480px) {

	#body{
		padding-top: 10px;
	}
	.navigation{
		display: block;
	}
	.mainimage{
	
		//height: 40vh;

	}

	#header.scrolled{
		height: inherit;
	}
	#header #navbar ul.navigation li{
	    float: none;
	
	    /* position: relative; */
	    width: 100%;
	    text-align: center;


	}
	#header{
		position: relative;
		margin-bottom: 20px;
	}

	.contact{
	width: 70%;
    margin: 60px auto 0;
    text-align: center;

	}

	.writing #body{
	    width: 90%;
    margin: 0 auto;
    text-align: center;
	}
}

@media screen and (min-width:480px) and (max-width:991px) {

	.mainimage{
		
		height: inherit;
	}
	#header{
		padding:0;
	}

	#header #navbar ul.navigation{

	}

	#header #navbar ul.navigation li a{ 
		padding: 0.2rem 1.5rem;
	}

	.contact{
		width: 100%;
	}
}