<content>
  {% for feature in page.header.features %}
    <item class="col-xs-12 col-sm-4 text-xs-center"{% if feature.animation %} waypoint data-animation="{{ feature.animation }}"{% endif %}>
      {% if feature.icon %}<icon class="ion {{ feature.icon }}"></icon>{% endif %}
      <h2>{{ feature.title }}</h2>
      <divider></divider>
      <h5>{{ feature.text }}</h5>
    </item>
  {% endfor %}
</content>
