
<div class="modular-row mainimage">

    {{ content }}


</div>
<div class="modular-row contact">
<h2>Contact Info</h2>
	
	<p><a href="mailTo:hallee@adlemans.net">Hallee Adelman</a> - author and founder, World of Ha<p>

	<p><a href="mailTo:jill@jillcorcoranliteraryagency.com">Jill Corcoran</a> at Jill Corcoran Literary<p>

  
</div>
