@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:600");
@font-face {
  font-family: NuevaStdBold;
  src: url(../fonts/NuevaStd-BoldItalic.eot);
  src: url(../fonts/NuevaStd-BoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/NuevaStd-BoldItalic.woff2) format("woff2"), url(../fonts/NuevaStd-BoldItalic.woff) format("woff"), url(../fonts/NuevaStd-BoldItalic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Core Stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Cormorant Garamond", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  background-color: #fff;
  color: #423C35;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

h1 {
  font-size: 2em;
  margin: .67em 0;
  line-height: 2.3rem; }

h2 {
  font-size: 32px;
  line-height: 36px;
  margin: 0; }
  h2 a {
    color: #423C35;
    border: none;
    padding: 2px 0;
    font-weight: 400;
    position: relative; }

p {
  font-size: 20px;
  line-height: 26px;
  width: 80%;
  max-width: 700px;
  margin: 20px auto; }

a:hover {
  color: #8c7b63; }

pre {
  background: #F0F0F0;
  margin: 1rem 0;
  border-radius: 2px; }

blockquote {
  margin: 40px 0;
  padding: 0 2rem;
  font-size: 40px;
  line-height: 42px;
  width: 70%;
  -moz-transform: translate(-50px, 0);
  -o-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
  -webkit-transform: translate(-50px, 0);
  transform: translate(-50px, 0); }
  blockquote p {
    font-size: 40px;
    line-height: 42px; }

blockquote:before {
  content: '';
  position: absolute;
  width: 400px;
  height: 70%;
  top: 0;
  /* left: 0; */
  margin-top: 27px;
  z-index: -1;
  background: #EACCCC; }

/* Utility Classes */
.wrapper {
  margin: 0 3rem; }

.padding {
  padding: 3rem 1rem; }

.left {
  float: left; }

.right {
  float: right; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.bold {
  font-family: NuevaStdBold, "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 600; }

.pure-img-responsive {
  max-width: 100%;
  height: auto; }

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
  overflow: hidden; }

#layout.active #menu {
  left: 240px; }

/*
The content `<div>` is where all your content goes.
*/
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em; }

.header-band {
  height: 60px;
  width: 100%;
  padding: 0 14%; }
  .header-band .wallpaper {
    height: inherit; }

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee; }

.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300; }

.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0; }

.header .logo {
  font-size: 1.7rem;
  text-transform: uppercase; }

#logo {
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  margin-top: 100px; }
  #logo h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    margin: 15px 0;
    text-transform: uppercase; }
    #logo h3 a {
      color: #423C35;
      font-size: 0; }
    #logo h3 img {
      margin-left: 50%;
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 90%; }

.home .header-band {
  display: none; }

.home #logo {
  visibility: hidden; }

.home #content.wrapper,
.home #content.padding {
  padding: 0;
  margin: 0;
  overflow: hidden; }

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888; }

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/
#menu {
  margin-left: -240px;
  /* "#menu" width */
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  line-height: 1.7; }

/*
All anchors inside the menu should be styled like this.
*/
.main-nav a {
  color: #444;
  border: none;
  padding: 2px 0;
  font-size: 1.25rem;
  font-weight: 400;
  transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-backface-visibility: hidden; }

.main-nav a:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 8px;
  /* top: 0; */
  z-index: -1;
  margin-left: -10px;
  margin-top: 18px;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  background: #EACCCC; }

.main-nav .selected a:before {
  visibility: visible;
  width: 100%; }

.main-nav .selected:hover a:before {
  visibility: visible;
  width: 0%; }

/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent; }

/*
Add that light border to separate items into groups.
*/
/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  color: #EACCCC;
  background-color: transparent; }

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0; }

#menu .social {
  width: 150px;
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 40px; }

#menu .social [class*="fa fa-"] {
  background-color: #a4943e;
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: auto 3px;
  width: 40px;
  font-size: 18px;
  text-align: center;
  transition: all 300ms linear; }

#menu .fa:hover {
  background-color: #72672b; }

.main-nav {
  padding: 0 30px; }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/
/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/
/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block;
  bottom: 35px;
  right: 10px;
  background: #000;
  background: #e0daa7;
  font-size: 10px;
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: all 300ms linear;
  -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.34); }

.menu-link:hover,
.menu-link:focus {
  background: #fff; }

.menu-link span {
  position: relative;
  display: block; }

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #423C35;
  width: 100%;
  height: 0.3em; }

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " "; }

.menu-link span:after {
  margin-top: 0.6em; }

#main {
  background-color: #fffbcc; }

.mainimage {
  min-height: 200px;
  height: 100%;
  width: 100%;
  margin-bottom: 140px;
  /* background-image:url(

data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAYAAABmWJ3mAAAAI0lEQVQYV2P89e/E/6+vnjNwi0kyfHnxlAEEfv74wcBIBwkAoxY+E/23gdYAAAAASUVORK5CYII=
    );
    */ }

.header-bkgd {
  -moz-transform: translate(140px, 60px);
  -o-transform: translate(140px, 60px);
  -ms-transform: translate(140px, 60px);
  -webkit-transform: translate(140px, 60px);
  transform: translate(140px, 60px);
  height: 43vw; }
  .header-bkgd img.desk {
    width: 70%;
    -moz-transform: translate(0, -90%);
    -o-transform: translate(0, -90%);
    -ms-transform: translate(0, -90%);
    -webkit-transform: translate(0, -90%);
    transform: translate(0, -90%); }

.wallpaper {
  background-image: url("../images/wallpaper.png");
  background-size: 600px;
  background-repeat: repeat; }

.floorboard {
  background-color: white;
  height: 40px;
  margin-left: 60px; }

.floor {
  background-color: #EACCCC;
  height: 80px;
  margin-left: 60px; }

.header-bkgd .wallpaper {
  height: 38vw;
  margin-left: 60px; }
.header-bkgd .header-frame {
  position: absolute;
  top: 0;
  left: 0; }
.header-bkgd .frame-ballerina {
  top: 30%;
  left: -70px;
  width: 12%; }
.header-bkgd .frame-frayed {
  top: -50px;
  left: 60%;
  width: 12%; }
.header-bkgd .frame-girlsketch {
  top: -10px;
  left: 74%;
  width: 12%; }
.header-bkgd .frame-pinkladies {
  top: 12%;
  left: 56%;
  width: 15%; }
.header-bkgd .frame-blackdress {
  top: 28%;
  left: 72%;
  width: 12%; }
.header-bkgd .frame-closeup {
  top: 43%;
  left: 57%;
  width: 12%; }

.mainlogo {
  position: absolute;
  top: 20px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 9999;
  width: 70%; }
  .mainlogo img {
    width: 100%; }

.intro h1 {
  font-size: 42px;
  line-height: 46px;
  text-align: center; }

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.home-callout {
  width: 40%;
  margin: 20px;
  position: relative;
  z-index: 1;
  height: 280px; }
  .home-callout p {
    font-size: 24px;
    line-height: 32px;
    width: 105%; }
  .home-callout a {
    font-family: NuevaStdBold, "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    border-bottom: 6px solid #EACCCC;
    margin: 0 10px 10px 0;
    color: #423C35;
    bottom: 20px;
    right: 20px;
    position: absolute; }
  .home-callout a:hover {
    color: white; }

.home-callout:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 280px;
  top: 0;
  left: 0;
  z-index: -1; }

.books:before {
  background-color: #E7DEA5; }

.projects:before {
  background-color: #D9CD9C; }

.home-callout.books p {
  -moz-transform: translate(-60px, 10px);
  -o-transform: translate(-60px, 10px);
  -ms-transform: translate(-60px, 10px);
  -webkit-transform: translate(-60px, 10px);
  transform: translate(-60px, 10px); }

.home-callout.projects p {
  -moz-transform: translate(40px, 20px);
  -o-transform: translate(40px, 20px);
  -ms-transform: translate(40px, 20px);
  -webkit-transform: translate(40px, 20px);
  transform: translate(40px, 20px); }

.twitter-section {
  position: relative;
  margin-bottom: 100px; }
  .twitter-section .wallpaper {
    height: 400px;
    padding-top: 5px; }
  .twitter-section .header-frame {
    position: absolute;
    top: 0;
    left: 0; }
  .twitter-section .frame-ballerina {
    top: 70%;
    left: 2%;
    width: 15%; }
  .twitter-section .frame-frayed {
    top: -50px;
    left: 5%;
    width: 12%; }
  .twitter-section .frame-girlsketch {
    top: 78%;
    left: 90%;
    width: 15%; }
  .twitter-section .frame-pinkladies {
    top: -6%;
    left: 83%;
    width: 15%; }
  .twitter-section .frame-blackdress {
    top: 28%;
    left: 10%;
    width: 12%; }
  .twitter-section .frame-closeup {
    top: 43%;
    left: 79%;
    width: 12%; }
  .twitter-section .tweet-window {
    width: 50%;
    margin: 0 auto;
    background-image: url(../images/twitter-frame.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 64px 52px;
    min-height: 400px; }

.contact-section {
  margin-top: 180px; }
  .contact-section h2 {
    text-align: center; }
  .contact-section .home-callout {
    width: 44%;
    min-width: 240px;
    height: 240px;
    /*
            .textbox{
                margin: 60px 0;
                height: 130px;
    
                h1{
                    margin: 10px 0;
                }
    
                p{
                    margin: 0;
                }
            }
    */ }
    .contact-section .home-callout .textbox {
      height: inherit; }
    .contact-section .home-callout h1 {
      margin: 60px 0 0; }
    .contact-section .home-callout p {
      margin: 0; }
    .contact-section .home-callout a {
      font-size: 1.2rem;
      bottom: 50px;
      right: 0; }
  .contact-section .home-callout.author-contact {
    background-color: #f6f4a7;
    margin-top: -20px; }
    .contact-section .home-callout.author-contact .textbox {
      -moz-transform: translate(-20px, -20px);
      -o-transform: translate(-20px, -20px);
      -ms-transform: translate(-20px, -20px);
      -webkit-transform: translate(-20px, -20px);
      transform: translate(-20px, -20px); }
  .contact-section .home-callout.agent-contact {
    background-color: #F3DDB8; }
    .contact-section .home-callout.agent-contact .textbox {
      -moz-transform: translate(80px, 0);
      -o-transform: translate(80px, 0);
      -ms-transform: translate(80px, 0);
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0); }
    .contact-section .home-callout.agent-contact a {
      bottom: 70px;
      right: 50px; }

.footer {
  margin-top: 60px; }
  .footer .footer-band-one {
    width: 100%;
    height: 100px;
    padding: 0 14%; }
    .footer .footer-band-one .middle-band {
      background-color: #F2DDB8;
      height: inherit; }
      .footer .footer-band-one .middle-band .footer-img {
        width: 100%;
        margin: 0 auto;
        height: 60px;
        -moz-transform: translate(0, -70px);
        -o-transform: translate(0, -70px);
        -ms-transform: translate(0, -70px);
        -webkit-transform: translate(0, -70px);
        transform: translate(0, -70px); }
  .footer .footer-band-two {
    width: 100%;
    height: 60px;
    background-color: #EAE6B7;
    padding: 0 14%; }
    .footer .footer-band-two .wallpaper {
      height: inherit; }

.copyright {
  font-size: 14px; }

/* --- About page ------- */
.about-content #content > blockquote:first-of-type {
  width: 120%;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.bigquote {
  font-size: 40px;
  line-height: 42px;
  position: relative;
  z-index: 1;
  margin: 40px 0; }

.bigquote:before {
  content: '';
  position: absolute;
  width: 400px;
  height: 108px;
  top: 0;
  left: 0;
  z-index: -1;
  background: #EACCCC; }

.left-img {
  float: left;
  -moz-transform: translate(-40px, -30px);
  -o-transform: translate(-40px, -30px);
  -ms-transform: translate(-40px, -30px);
  -webkit-transform: translate(-40px, -30px);
  transform: translate(-40px, -30px);
  padding: 0; }

.right-img {
  float: right;
  -moz-transform: translate(40px, 0);
  -o-transform: translate(40px, 0);
  -ms-transform: translate(40px, 0);
  -webkit-transform: translate(40px, 0);
  transform: translate(40px, 0);
  padding: 0; }

.interlude {
  background-image: url(../images/wallpaper.png);
  background-size: 570px;
  background-repeat: repeat;
  height: 400px;
  width: 70%;
  margin: 40px auto; }

.interlude:after {
  position: absolute;
  content: "";
  width: 800px;
  height: 400px;
  background: url(../images/interlude.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 50%;
  -moz-transform: translate(-300px, 0);
  -o-transform: translate(-300px, 0);
  -ms-transform: translate(-300px, 0);
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0); }

/* ---- Blog -----------*/
.blog-content-item,
.blog-content-list {
  width: 80%;
  max-width: 700px;
  margin: 20px auto;
  font-family: "Cormorant Garamond", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  z-index: 1;
  position: relative; }
  .blog-content-item .list-blog-header,
  .blog-content-list .list-blog-header {
    text-align: center; }
  .blog-content-item a:before,
  .blog-content-list a:before {
    content: '';
    position: absolute;
    width: 110%;
    left: -5%;
    height: 8px;
    bottom: 6px;
    z-index: -1;
    /* margin-left: -10px; */
    /* margin-top: 18px; */
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    background: #EACCCC; }
  .blog-content-item a,
  .blog-content-list a {
    color: #423C35;
    border: none;
    padding: 2px 0;
    font-weight: 400;
    position: relative; }

.writing .list-item {
  margin: 40px 0 100px; }

.writing .blog-content-item,
.writing .blog-content-list,
.news .blog-content-item,
.news .blog-content-list {
  text-align: center; }

.e-content {
  display: flex;
  flex-wrap: wrap; }

.blog-content-item {
  width: 80%;
  max-width: 700px;
  margin: 20px auto;
  font-family: "Cormorant Garamond", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }
  .blog-content-item .list-blog-header {
    text-align: center; }
  .blog-content-item img {
    width: 100%; }

.p-summary p {
  width: 100%; }

.gallery {
  padding: 20px;
  width: 49%;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 40px auto; }
  .gallery img {
    width: 100%;
    border-style: solid;
    border-width: 26px 27px 27px;
    -moz-border-image: url(../images/frame-pattern2.png) 26 27 27 repeat;
    -webkit-border-image: url(../images/frame-pattern2.png) 26 27 27 repeat;
    -o-border-image: url(../images/frame-pattern2.png) 26 27 27 repeat;
    border-image: url(../images/frame-pattern2.png) 26 27 27 repeat; }
  .gallery .gallery-image {
    position: relative;
    margin-bottom: 50px;
    margin-top: -20px; }
  .gallery .gallery-image:before {
    content: '';
    position: absolute;
    width: 30%;
    height: 10px;
    z-index: -1;
    bottom: 0px;
    margin-bottom: -30px;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    background: #EACCCC;
    /* top: 0; */
    /* transform: translateY(-50%); */ }

.gallery:before {
  content: '';
  position: absolute;
  width: 150%;
  height: 260px;
  /* margin-left: -10px; */
  /* margin-top: 18px; */
  z-index: -1;
  /* opacity: 0.6; */
  background: #EAE6B7;
  left: -25%;
  top: 50px;
  /* transform: translateY(-50%); */ }

.grav-youtube {
  width: 100%;
  height: 100%;
  margin: 20px 0 10px; }

/* Firefox 37+ */
@supports (-moz-appearance: none) and (display: contents) {
  .grav-youtube {
    width: 100%;
    margin: 20px 0 10px;
    height: 400px !important; } }
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100px; }

.pagination li {
  border: none;
  list-style: none;
  width: 30px;
  display: inline-block; }
.pagination li:first-child {
  background-color: #f6f4a7;
  width: 100px;
  position: absolute;
  left: 0; }
  .pagination li:first-child a:before {
    right: 0; }
.pagination li:last-child {
  background-color: #f6f4a7;
  width: 100px;
  position: absolute;
  right: 0; }
  .pagination li:last-child a:before {
    left: 0; }
.pagination a:before {
  content: '';
  position: absolute;
  width: 80%;
  height: 8px;
  bottom: -10px;
  z-index: -1;
  /* margin-left: -10px; */
  /* margin-top: 18px; */
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  background: #EACCCC; }
.pagination a {
  color: #423C35;
  border: none;
  padding: 2px 0;
  font-weight: 400;
  position: relative; }

.prev-next {
  margin: 50px 0 0px;
  width: 100%;
  height: 60px; }
  .prev-next .button:first-child {
    float: left; }
  .prev-next .button:last-child {
    float: right; }

.list-blog-padding h1, .list-blog-padding h2, .list-blog-padding h3, .list-blog-padding h4, .list-blog-padding h5, .list-blog-padding h6 {
  text-align: center;
  width: 100%; }

.list-blog-padding .owl-carousel.owl-loaded {
  display: inline-block; }

.news .list-blog-padding {
  margin-bottom: 80px; }

.mobile-hide {
  display: inline-block; }

.list-item blockquote {
  padding: 0;
  width: 100%;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
  .list-item blockquote:before {
    content: none; }

/*
.news .p-summary > p:first-of-type:before{

    content: '';
    position: absolute;
    width: 110%;
    left: -5%;
    height: 100px;
    z-index: -1;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    background: #EACCCC;
}
*/
/* -- Responsive Styles (Media Queries) ------------------------------------- */
/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 60em) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em; }

  #layout {
    padding-left: 240px;
    /* left col width "#menu" */
    left: 0; }

  #menu {
    left: 240px; }

  .menu-link {
    position: fixed;
    display: none; }

  .mainlogo {
    display: none; }

  .home .mainlogo {
    display: inline-block; } }
@media (min-width: 48em) and (max-width: 60em) {
  .mainlogo {
    display: none; }

  .home .mainlogo {
    display: inline-block; }

  #menu {
    left: 140px;
    width: 140px;
    margin-left: -140px; }

  #menu .social {
    width: 120px; }

  #menu .social [class*="fa fa-"] {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    font-size: 14px;
    line-height: 30px; }

  .menu-link {
    position: fixed;
    display: none; }

  .main-nav {
    padding: 0 20px; }

  #layout {
    padding-left: 140px;
    left: 0; }

  #layout.active {
    position: relative;
    left: 140px; }

  .intro {
    padding-bottom: 0; }

  .intro h1 {
    font-size: 28px;
    line-height: 32px; }

  .home-callout:before {
    width: 110%; }

  .home-callout p {
    font-size: 18px;
    line-height: 24px; }

  .home-callout.books p {
    -moz-transform: translate(-30px, 10px);
    -o-transform: translate(-30px, 10px);
    -ms-transform: translate(-30px, 10px);
    -webkit-transform: translate(-30px, 10px);
    transform: translate(-30px, 10px); }

  .home-callout.projects p {
    -moz-transform: translate(50px, 20px);
    -o-transform: translate(50px, 20px);
    -ms-transform: translate(50px, 20px);
    -webkit-transform: translate(50px, 20px);
    transform: translate(50px, 20px); }

  .home-callout a {
    right: 0px; }

  .twitter-section {
    margin: 50px 0; }
    .twitter-section .tweet-window {
      width: 75%; }
    .twitter-section .frame-closeup {
      display: none; }
    .twitter-section .frame-frayed {
      left: -2%; }
    .twitter-section .frame-blackdress {
      left: 0; }
    .twitter-section .frame-ballerina {
      left: -5%; }
    .twitter-section .frame-pinkladies {
      left: 92%; }

  .list-item p {
    width: 100%;
    margin: 20px 0; }

  blockquote {
    padding: 0;
    width: 100%;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    blockquote:before {
      content: none; }

  .left-img,
  .right-img {
    width: 100%;
    float: none;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  .left,
  .right {
    float: none;
    width: 100%; } }
@media (max-width: 47em) {
  /* Only apply this when the window is small. Otherwise, the following
  case results in extra padding on the left:
      * Make the window small.
      * Tap the menu to trigger the active state.
      * Make the window large again.
  */
  .mainlogo {
    width: 80%; }

  .header-bkgd {
    -moz-transform: translate(18px, 60px);
    -o-transform: translate(18px, 60px);
    -ms-transform: translate(18px, 60px);
    -webkit-transform: translate(18px, 60px);
    transform: translate(18px, 60px);
    height: 62vw; }
    .header-bkgd .wallpaper {
      height: 50vw;
      margin-left: 50px; }
    .header-bkgd .floorboard {
      height: 20px;
      margin-left: 50px; }
    .header-bkgd .floor {
      height: 50px;
      margin-left: 50px; }
    .header-bkgd img.desk {
      width: 90%;
      -moz-transform: translate(0, -90%);
      -o-transform: translate(0, -90%);
      -ms-transform: translate(0, -90%);
      -webkit-transform: translate(0, -90%);
      transform: translate(0, -90%); }
    .header-bkgd .frame-ballerina {
      left: -30px; }
    .header-bkgd .frame-girlsketch {
      top: -10px;
      left: 78%; }
    .header-bkgd .frame-pinkladies {
      top: 15%;
      left: 59%;
      width: 15%; }
    .header-bkgd .frame-blackdress {
      top: 28%;
      left: 90%;
      width: 12%; }
    .header-bkgd .frame-closeup {
      top: 15%;
      left: 7%;
      width: 12%; }

  #layout.active {
    position: relative;
    left: 240px; }

  .padding {
    padding: 0; }

  .wrapper {
    margin: 0; }

  .intro {
    padding: 20px 0 40px; }

  .intro h1 {
    font-size: 32px;
    line-height: 36px;
    margin: 0 20px; }

  .flexcontainer {
    flex-direction: column; }

  .home-callout {
    width: 80%;
    height: 280px; }

  .home-callout.books:before {
    height: 100%;
    width: 120%;
    left: 30px; }

  .home-callout.projects:before {
    height: 100%;
    width: 120%;
    left: -50px; }

  .home-callout.books p {
    -moz-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px); }

  .home-callout.projects p {
    -moz-transform: translate(64px, 10px);
    -o-transform: translate(64px, 10px);
    -ms-transform: translate(64px, 10px);
    -webkit-transform: translate(64px, 10px);
    transform: translate(64px, 10px); }

  .home-callout.projects a,
  .home-callout.books a {
    bottom: 6px;
    right: 6px; }

  .twitter-section {
    margin: 50px 0; }
    .twitter-section .tweet-window {
      width: 96%;
      height: auto;
      position: relative; }
      .twitter-section .tweet-window .tweet-mobile {
        width: 100%;
        height: 100%;
        margin-left: -6%; }

  .contact-section h2 {
    text-align: center;
    /* width: 80%; */
    margin: 0 20px 60px; }

  .contact-section .home-callout {
    width: 64%;
    height: 280px; }
    .contact-section .home-callout p {
      width: 100%; }

  .contact-section .home-callout.author-contact {
    -moz-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0); }

  .contact-section .home-callout.agent-contact {
    -moz-transform: translate(-30px, 0);
    -o-transform: translate(-30px, 0);
    -ms-transform: translate(-30px, 0);
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0); }

  .contact-section .home-callout.agent-contact .textbox {
    -moz-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
    text-align: right; }
    .contact-section .home-callout.agent-contact .textbox a {
      right: 0; }

  .footer .footer-band-one .middle-band .footer-img {
    -moz-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px); }
    .footer .footer-band-one .middle-band .footer-img img {
      width: 50%; }

  .mobile-hide {
    display: none; }

  .gallery {
    padding: 20px;
    width: 100%;
    margin: 20px auto; }

  .gallery:before {
    width: 120%;
    height: 340px;
    left: -10%; }

  .left-img,
  .right-img {
    width: 100%;
    float: none;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  .interlude {
    height: 300px; }

  .interlude:after {
    width: 100%;
    height: 300px;
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

  .about-content blockquote:first-of-type {
    padding: 0 2rem; }

  .blog-content-item, .blog-content-list {
    width: 100%; }

  .list-item {
    padding: 0 20px; }
    .list-item p {
      width: 100%; }

  .blog-content-item {
    margin-top: 40px; }

  .blog-header {
    height: 30px; }

  .left,
  .right {
    float: none;
    width: 100%; }

  blockquote {
    padding: 0;
    width: 100%;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    blockquote:before {
      content: none; }

  .grav-youtube {
    width: 100%;
    height: 100%; }

  .about-content #content > blockquote:first-of-type {
    width: 100%;
    float: none;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0; }
    .about-content #content > blockquote:first-of-type:before {
      content: none; } }

/*# sourceMappingURL=main.css.map */
