
<div class="modular-row mainimage">

    {{ content }}


</div>

<div class="modular-row news">
	<h2>News</h2>
	<div class="grid">
	<div class="news-col size-1-2 content">
		
		<p>On May 13th 2017 Hallee is being honored by Wissahickon Charter School for her work with their students.<p>
		<div class="videoWrapper">
		<iframe width="560" src="https://www.youtube.com/embed/BUH20PhuNow" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="tweet-col size-1-2 content">
		<a class="twitter-timeline" data-height="400" href="https://twitter.com/HalleeAdelman">Tweets by HalleeAdelman</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	</div>
</div>
