@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600|Courgette');

// Font Family

$font-family-default:  			'Cormorant Garamond', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:  			'Cormorant Garamond', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono: 				'Cormorant Garamond', monospace;
$font-family-serif:				'Cormorant Garamond', "Times", "Times New Roman", serif;


$icons: 						"FontAwesome";


//font-family: 'Cormorant Garamond', serif;
//font-family: 'Courgette', cursive;